RewriteEngine On

# Voorkom dat de routering start als het een bestaand bestand of map is
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Stuur alles naar index.php
RewriteRule ^ index.php [L]